<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gsst</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">josecarlos</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <mapping class="br.com.gsst.model.Maquina"/>
    <mapping class="br.com.gsst.model.Empresa"/>
    <mapping class="br.com.gsst.model.Processo"/>
    <mapping class="br.com.gsst.model.Nr"/>
    <mapping class="br.com.gsst.model.Valores"/>
    <mapping class="br.com.gsst.model.Funcionario"/>
    <mapping class="br.com.gsst.model.Usuario"/>
    <mapping class="br.com.gsst.model.Unidade"/>
  </session-factory>
</hibernate-configuration>
